*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Newake";
}
@font-face {
    font-family: "Newake";
    src: url(./Newake-Font-Demo.otf);
}
.header{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.listaheader{
    display: flex;
    flex-direction: row;
    height: 75px;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    color: #0D843D;
}
.agencylogo{
    height: 150px;
    width: auto;
}
.thebitagency{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
    font-size: 2rem;
}
.slogan{
    font-size: 3rem;
    padding: 20px;
    position: relative;
    display:flex;
    align-items:center;
    margin: 100px 0px 0px 100px 
}
.divslo {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: left;
    height: auto;
    width: auto;
}
body::before{
    content:"";
    background-image: url(./pexels-fauxels-3183197.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0.5;
    height: 100vh;
}

